li {
    margin: 0 0 10px 0;
    list-style-type: none;
}

.activeTask {
    opacity: 0.6;
}

.tasksNull {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: url("https://i09.fotocdn.net/s114/c2b44597d216de02/public_pin_l/2573276787.jpg") center center/ contain no-repeat;
    height: 90px;
    box-shadow: inset 0 0 4px 3px var(--color-dark-900);
    color: brown;
    font-weight: 800;
}

