li {
    margin: 0 0 10px 0;
    list-style-type: none;
}

.activeTask {
    opacity: 0.6;
}

.tasksEmpty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    height: 50%;

    > svg path {
        stroke-dasharray: 0 10000;
        fill: transparent;
        stroke: red;
        stroke-width: 50px;
        animation: svgDraw 2s linear forwards;
    }

}

@keyframes svgDraw {
    50% {
        stroke-dasharray: 6000 0;
        stroke: red;
        fill: transparent;
        /*stroke-width: 10px;*/
    }
    100% {
        stroke-dasharray: 6000 0;
        stroke: red;
        fill: red;
        /*stroke-width: 100px;*/
    }
}

