.text__input {
    color: black;
    outline: none;
    max-width: 80px;
    opacity: initial;
}

/*//==============text tasks===============================*/
.text {
    font-size: var(--font-s-small);
    /*text-transform: uppercase;*/
    /*color: aliceblue;*/
}
