.universalButton {
  display: inline-block;
}

.button {
  padding: 5px 10px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0 5px 0 5px;
  overflow: hidden;
}

.disabled {
  opacity: 0.3;
}
