h3 {
    display: inline-block;
    color: brown;
    margin: 0 10px 0 0;

    }
    .todolistTitle__btn{
        opacity: 0.9;
        border: none;
        border-radius: 0 5px 0 5px;

}

.error {
    border: 2px solid red;
    border-radius: 0 5px 0 5px;
}

.block {
    display: block;
    height: 30px;
    border: none;
    color: red;


}

/*=======Button active filter=======================*/
.active {
    background: url("https://phonoteka.org/uploads/posts/2022-01/1642990537_71-phonoteka-org-p-krasnii-fon-abstraktsiya-71.jpg") center center/cover no-repeat;
    border-radius: 0 5px 0 5px;
    border: none;
}

/*//======input active task=======================================*/
.activeTask {
    opacity: 0.5;
}

li {
    margin: 0 0 10px 0;
}

.tasksNull {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: url("https://i09.fotocdn.net/s114/c2b44597d216de02/public_pin_l/2573276787.jpg") 0 0/cover no-repeat;
    width: 190px;
    height: 90px;
    margin-left: -40px;
    box-shadow: 0 0 5px 5px black inset, 0 0 10px 10px black;
    color: brown;
    font-weight: 800;
}

/*========block input tasks================================================*/
.input__block{
    display: flex;
}